/*MAIM-STYLE STYLE RULES*/

:root{
    /*main*/
    --main-black-background-text-color:#FFFFFF;
    --white-text-background:#2F303A;
    /*hdr*/
    --h-link-default:#212121;
    --h-link-hover-active:#2196F3;
    --logo-first-verb-color:#2196F3;
    --logo-second-verb-color: #212121;
    /*ftr*/

    --addr-text-color: #FFFFFF;

    /*cnts*/
    --contact-hover-default:#757575;
    --contact-hover-active:#2196F3;

    /*portfolio*/
        --p-hover-active-button-text-color: #FFFFFF;
        --p-default-button-text-color:#212121;
        /*---*/
        --p-button-hover-active-color: #2196F3;
        --p-button-hover-default-color:#F5F4FA;
    /*index*/
    --i-button-default-color:#2196F3;
    --advantage-text: #212121;
    --description-text:#757575;
    --h3-text:#212121;
}

/*HEARER*/

.nvg-list {
    list-style-type: none;
}

.contacts-list {
    list-style-type: none;
} /*+FOOTER*/

.logo-first-verb{
    font-family: Raleway;
	font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-first-verb-color);
}

.logo-second-verb{
    font-family: Raleway;
	font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-second-verb-color);
}

.hdr-link:active,
.hdr-link:focus,
.hdr-link:hover{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--h-link-hover-active);
    text-decoration: none;
}

.hdr-link{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /*var*/
    color: var(--h-link-default);
    text-decoration: none;
}

.contact:active,
.contact:focus,
.contact:hover{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--contact-hover-active);
    text-decoration: none;
}  

.contact{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--contact-hover-default);
    text-decoration: none;
    color:var(--contact-hover-default);
    text-decoration: none;
    font-style: normal;
}

.addr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8;
    color: var(--addr-text-color);
    background-color: var(--white-text-background);
}
/* PORTFOLIO PAGE */

.list{
    list-style-type: none;
}

.portfolio-body-container{
    font-family: sans-serif;
    font-family: Roboto;
}

.portfolio-filter-button:active,
.portfolio-filter-button:hover,
.portfolio-filter-button:focus
 {
    background-color: var(--p-button-hover-active-color);
    cursor: pointer;
    font-family: inherit;
    color: var(--p-hover-active-button-text-color);
 }

.portfolio-filter-button{ 
    background: var(--p-button-hover-default-color);
    border-radius: 4px;
    cursor:pointer;
    /*text*/
    color: var(--p-default-button-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;
}

.portfolio-body-container.case-name{
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}

.portfolio-body-container.desription{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    font-family: inherit;
    color: var(--description-text);
}

/*INDEX PAGE*/

.index-body-container {
    font-family: sans-serif;
    font-family: Roboto;
}

.index-main-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-black-background-text-color);
    background-color: var(--white-text-background);
}

.order-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background:var(--i-button-default-color);
    cursor: pointer;
    /*text*/
    color: var(--main-black-background-text-color);
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
}

.index-body-container .advantage-name {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--advantage-text);
}

.index-body-container .desription {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.8;
    color: var(--description-text);
}

.advantages-list{
    list-style-type: none;
}

.exx-list {
    list-style-type: none;
}

.index-body-container .staff{
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--h3-text);
    
}

.staff-list{
    list-style-type: none;
}

.staff-name {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--h-link-default);

}

.position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--description-text);
}

.desription {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;    
    color: var(--description-text);
}